

body {
  margin: 40px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] 100px ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: rgb(158, 158, 158);
    color: rgb(107, 93, 119);
  }

  .box {
    background-color: rgb(78, 71, 94);
    color: #fff;
    border-radius: 5px;
    padding: 20px;

  }

  logo {
    grid-column: col / span 2;
    grid-row: row ;
  }


  header {
    grid-column: col 3 / span 2 ;
    grid-row: row ;
  }


  nav {
    grid-column: col ;
    grid-row: row 2 ;
  }


  main {
    grid-column: col 2 / span 3 ;
    grid-row: row 2 ;
  }


  footer {
    grid-column: col / span 4;
    grid-row: row 3;
  }







 /* unvisited link */
a:link {
  color: rgb(160, 253, 217);
}

/* visited link */
a:visited {
  color: rgb(71, 214, 219);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
} 